@import "../utils/zero",
        "../utils/variables",
        "../utils/media",
        "../utils/fonts";


.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--background-color-el);
  color: white;
  font-family: "Inter", sans-serif;
}

.authentication-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35vw;
  height: 20vw;
  background-color: var(--background-color);
  border-radius: 2vw;
  row-gap: 2vw;

  @include mobile {
    width: 72vw;
    height: 51vw;
    row-gap: 6vw;
    border-radius: 5vw;
  }

  .registration-button {
    height: 3.5vw;
    width: 20vw;
    background-color: #FF4A15;
    border-radius: 2vw;
    font-size: 2vw;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #8f280b;
    }

    @include mobile {
      height: 11.5vw;
      width: 54vw;
      font-size: 6.5vw;
      border-radius: 5vw;
    }
  }

  .entrance-button {
    height: 3.5vw;
    width: 20vw;
    background-color: #D92446;
    border-radius: 2vw;
    font-size: 2vw;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #932d16;
    }

    @include mobile {
      height: 11.5vw;
      width: 54vw;
      font-size: 6.5vw;
      border-radius: 5vw;
    }
  }
}

.registration-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 37vw;
  height: 16vw;
  background-color: var(--background-color);
  border-radius: 2vw;
  row-gap: 1.5vw;

  @include mobile {
    width: 87vw;
    height: 51vw;
    row-gap: 3.5vw;
    border-radius: 5vw;
  }

  .registration-heading {
    display: flex;
    height: 17%;
    align-items: center;
    margin-top: 1vw;

    @include mobile {
      margin-top: 3vw;
    }

    &__text {
      font-size: 1.5vw;

      @include mobile {
        font-size: 6.5vw;
      }
    }
  }

  .registration-form {
    width: 100%;

    .full-name-input-container {
      display: flex;
      align-items: center;
      width: 100%;

      .full-name-text {
        font-size: 1.5vw;
        margin-right: 2.05vw;
        margin-left: 2.3vw;

        @include mobile {
          font-size: 5.5vw;
          margin-right: 4.8vw;
          margin-left: 6.4vw;
        }
      }

      .full-name-input {
        height: 2.5vw;
        border-radius: 2vw;
        padding-left: 0.5vw;
        color: black;
        width: 28vw;
        font-size: 1vw;

        @include mobile {
          height: 8.5vw;
          border-radius: 4vw;
          padding-left: 2.5vw;
          width: 60vw;
          font-size: 3.3vw;
        }
      }
    }

    .registration-number-input-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 1vw;

      @include mobile {
        margin-top: 3vw;
      }

      .registration-number-text {
        font-size: 1.5vw;
        margin-right: 1vw;
        margin-left: 1vw;

        @include mobile {
          font-size: 5.5vw;
        }
      }

      .registration-number-input {
        height: 2.5vw;
        border-radius: 2vw;
        padding-left: 0.5vw;
        color: black;
        width: 28vw;
        font-size: 1vw;

        @include mobile {
          height: 8.5vw;
          border-radius: 4vw;
          padding-left: 2.5vw;
          width: 60vw;
          font-size: 3.3vw;
        }
      }
    }

    .registration-submit-button-container {
      margin-top: 1vw;
      display: flex;
      justify-content: space-between;

      @include mobile {
        margin-top: 4vw;
      }

      .registration-response {
        display: flex;
        align-items: center;
        color: red;
        margin-left: 2vw;
        font-size: 1vw;
        width: 50%;

        @include mobile {
          font-size: 2.8vw;
          margin-left: 3vw;
        }
      }

      .registration-submit-button {
        height: 2vw;
        width: 9vw;
        border-radius: 2vw;
        background-color: #FF4A15;
        margin-right: 1.1vw;
        font-size: 1.1vw;
        transition: background-color 0.2s ease;
        position: relative;

        &:hover {
          background-color: #932d16;
        }

        &:active {
          top: 0.1vw;
        }

        @include mobile {
          height: 8vw;
          width: 30vw;
          border-radius: 4vw;
          margin-right: 3.5vw;
          font-size: 4vw;
        }
      }
    }
  }
}

.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 27vw;
  height: 12.5vw;
  background-color: var(--background-color);
  border-radius: 2vw;
  row-gap: 1vw;

  @include mobile {
    width: 87vw;
    height: 40vw;
    row-gap: 3.5vw;
    border-radius: 5vw;
  }

  .login-heading {
    display: flex;
    height: 12%;
    align-items: center;
    margin-top: 1.5vw;

    @include mobile {
      margin-top: 4vw;
    }

    &__text {
      font-size: 1.5vw;

      @include mobile {
        font-size: 6.5vw;
      }
    }
  }

  .login-form {
    width: 100%;

    .login-number-input-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 1vw;

      @include mobile {
        margin-top: 3vw;
      }

      .login-number-text {
        font-size: 1.5vw;
        margin-right: 1vw;
        margin-left: 1vw;

        @include mobile {
          font-size: 5.5vw;
          margin-left: 3vw;
          margin-right: 3vw;
        }
      }

      .login-number-input {
        height: 2.5vw;
        border-radius: 2vw;
        padding-left: 1vw;
        color: black;
        width: 18vw;
        font-size: 1vw;

        @include mobile {
          height: 8.5vw;
          border-radius: 4vw;
          padding-left: 2.5vw;
          width: 56vw;
          font-size: 3.3vw;
        }
      }
    }

    .login-submit-button-container {
      margin-top: 1.25vw;
      display: flex;
      justify-content: space-between;

      @include mobile {
        margin-top: 4vw;
      }

      .login-response {
        display: flex;
        align-items: center;
        color: red;
        margin-left: 1vw;
        font-size: 0.7vw;
        width: 50%;

        @include mobile {
          font-size: 2.8vw;
          margin-left: 3vw;
        }
      }

      .login-submit-button {
        height: 2vw;
        width: 9vw;
        border-radius: 2vw;
        background-color: #ff4015;
        margin-right: 1.1vw;
        font-size: 1.1vw;
        transition: background-color 0.2s ease;
        position: relative;

        &:hover {
          background-color: #932d16;
        }

        &:active {
          top: 0.1vw;
        }

        @include mobile {
          height: 8vw;
          width: 30vw;
          border-radius: 4vw;
          margin-right: 3.5vw;
          font-size: 4vw;
        }
      }
    }
  }
}

.pop-up-check-reg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-up-check-reg-container {
  background-color: var(--background-color);
  width: 21vw;
  height: 9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 1.5vw;
  row-gap: 1vw;
  font-family: "Akshar", sans-serif;
  font-weight: 600;

  @include mobile {
    width: 70vw;
    height: 30vw;
    row-gap: 3vw;
    border-radius: 3vw;
  }

  .pop-up-check-reg-text {
    text-align: center;
    width: 56%;
    font-size: 1.1vw;

    @include mobile {
      font-size: 4vw;
      width: 67%;
    }
  }
}

.pop-up-check-reg-cross {
  position: absolute;
  top: 1vw;
  width: 2vw;
  right: 1vw;
  cursor: pointer;

  @include mobile {
    width: 5vw;
    top: 2vw;
    right: 2vw;
  }
}