.add-fio-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-fio-container {
  background-color: var(--background-color);
  width: 30vw;
  height: 12vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 1.5vw;
  row-gap: 1vw;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 1vw 0 0 0;

  @include mobile {
    width: 76vw;
    height: 38vw;
    border-radius: 4.5vw;
    row-gap: 4vw;
  }

  .add-fio-head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;

    @include mobile {
      font-size: 5vw;
    }

    .add-fio-head-cross {
      width: 1.5vw;
      position: absolute;
      right: 1vw;
      top: 0;
      cursor: pointer;

      @include mobile {
        width: 4.5vw;
        right: 2vw;
        top: 1vw;
      }
    }
  }

  .add-fio-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;

    @include mobile {
      row-gap: 3vw;
    }

    .add-fio-input-container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;

      .add-fio-input-label {
        font-size: 1.5vw;
        margin-right: 1vw;

        @include mobile {
          font-size: 4.5vw;
          margin-right: 2vw;
        }
      }

      .add-fio-input {
        height: 2.5vw;
        border-radius: 2vw;
        padding-left: 1vw;
        color: black;
        width: 21.5vw;
        font-size: 1vw;

        @include mobile {
          height: 8.5vw;
          border-radius: 5vw;
          padding-left: 2vw;
          width: 56.5vw;
          font-size: 3vw;
        }
      }
    }

    .add-fio-button-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .add-fio-response {
        display: flex;
        align-items: center;
        color: red;
        margin-left: 2vw;
        font-size: 0.8vw;
        width: 50%;

        @include mobile {
          font-size: 2.5vw;
          margin-left: 3vw;
        }
      }

      .add-fio-button {
        height: 2vw;
        width: 9vw;
        border-radius: 2vw;
        background-color: #FF4A15;
        margin-right: 2.1vw;
        font-size: 1.1vw;
        cursor: pointer;
        position: relative;

        &:hover {
          background-color: #932d16;
        }

        &:active {
          top: 0.1vw;
        }

        @include mobile {
          height: 7vw;
          width: 30vw;
          border-radius: 4vw;
          margin-right: 4.1vw;
          font-size: 3.1vw;
        }
      }
    }
  }
}