<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Змейка удачи 2025</title>
    <link rel="stylesheet" href="../static/css/conditionsPageStyle/conditionsMainStyle.css" />
    <script src="../static/js/getUser.js"></script>
    <script>
        window.onload = function () {
            document.getElementById('onload').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="onload-wrapper" id="onload">
        <div class="onload-container" style="">
            <span class="onload-text">Загрузка...</span>
            <svg class="onload-spinner" viewBox="0 0 50 50">
                <circle class="spinner-path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <div class="conditions-page-wrapper">
        <header class="wrapper__header header">
            <div class="header-container">
                <div class="header-inner">
                    <div class="header-inner__logo logo">
                        <a href="/"><img class="logo__image" src="../static/images/globalsImages/anixLogo.png" alt="Лого Аникс" /></a>
                    </div>
                    <nav class="header-inner__navigation navigation" >
                        <ul class="navigation-menu">
                            <li class="navigation-menu__item">
                                <a href="/conditions">Условия</a>
                            </li>
                            <li class="navigation-menu__item">
                                <a href="/gifts">Подарки</a>
                            </li>
                            <li class="navigation-menu__item">
                                <a href="/winners">Победители</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="main-logo">
            <img class="main-logo__heading" src="../static/images/globalsImages/logoText.png" />
            <img class="main-logo__image" src="../static/images/mainPageImages/year.png" />
        </div>
        <div class="conditions-text-container">
            <h2>Сроки проведения акции</h2>
            <p>Срок регистрации для участия в промо-акции: <strong>с 18.11.2024 г. по 08.01.2025 г.</strong> Общий срок акции, включая подведение итогов и вручение призов: <strong>с 18.11.2024 г. по 31.01.2025 г.</strong></p>

            <h2>Что необходимо сделать для того, чтобы принять участие?</h2>
            <p>Для участия в акции совершите покупку в любом магазине «Аникс» или «Хороший выбор» на сумму от 500 руб. или 5 товаров-спонсоров, выделенных в магазине специальным ценником. Список товаров-спонсоров размещен по ссылке: <a href="https://promo.tdanix.ru/">https://promo.tdanix.ru/</a>. В акции участвуют все товары, кроме алкогольной и табачной продукции.</p>
            <p>Отсканируйте уникальный QR-код, размещенный на чеке для автоматической регистрации чека на сайте промо-акции. Также для участия в розыгрыше возможно зарегистрировать чек, назвав номер телефона сотруднику на кассе. Регистрируйте больше чеков для получения возможности выиграть главные призы.</p>

            <h2>Что делать, если не сканируется QR-код на чеке?</h2>
            <p>Проверить, чтобы изображение чека было четким, QR-код был не обрезан и отображался полностью. Если вам необходима помощь при регистрации чека, напишите нам в соцсети ВК, ОК магазинов «Аникс» и «Хороший выбор» или позвоните на горячую линию <strong>8-800-100-88-10</strong>.</p>

            <h2>Кто может принимать участие в акции?</h2>
            <p>К участию допускаются совершеннолетние дееспособные лица, являющиеся гражданами Российской Федерации, постоянно проживающие на территории Алтайского края, Республики Алтай и Новосибирской области. К участию в Акции не допускаются сотрудники магазинов «Аникс» и «Хороший выбор».</p>

            <h2>Какие призы можно получить в акции?</h2>
            <p>Конкурс состоит из 2-х этапов:</p>
            <ol>
                <li>Первый этап состоит из 40 шагов на сайте, пройдя которые вы получите право на участие в розыгрыше главных призов 1-го этапа.</li>
                <li>Второй этап состоит из 20 шагов, пройдя которые вы получите право на участие в розыгрыше главного приза 2-го этапа.</li>
            </ol>
            <p>Еженедельные розыгрыши проводятся среди всех Покупателей, зарегистрировавших не менее 1 чека на сайте <a href="https://promo.tdanix.ru/">https://promo.tdanix.ru/</a>:</p>
            <ul>
                <li>Аэрогриль 2.5 л</li>
                <li>Умная колонка Яндекс Станция Лайт</li>
                <li>Робот-пылесос</li>
                <li>Гриль</li>
                <li>Гриль уличный</li>
                <li>Первые 100 финалистов 1-го этапа получат брендированные сумки-шопперы.</li>
            </ul>
            <p>Главные призы 1-го этапа:</p>
            <ul>
                <li>Игровая консоль PlayStation 5</li>
                <li>Холодильник объемом не менее 384 л</li>
                <li>LED-телевизор с диагональю не менее 65" (163 см)</li>
                <li>Ноутбук с диагональю не менее 16"</li>
                <li>Робот-пылесос со станцией самоочистки</li>
            </ul>
            <p>Главный приз 2-го этапа:</p>
            <ul>
                <li>Семейные выходные в Горном Алтае</li>
            </ul>
            <p>Приз в каждом магазине: 10 января 2025 г. будет проведен финальный розыгрыш среди участников каждого магазина, зарегистрировавшегося на сайте. Победитель получит мягкую игрушку «Стич».</p>
            <p>Приз от поставщиков: подарок от поставщика-спонсора промо-акции (на усмотрение партнера).</p>
            <p class="important">Внешний вид и дизайн Призов может отличаться от его рекламных изображений, предназначенных для анонсирования Акции.</p>

            <h2>Сколько призов можно выиграть в акции?</h2>
            <p>1 участник может выиграть только 1 Главный приз. 1 участник может получить неограниченное количество остальных призов по списку, но не более одного приза в неделю.</p>

            <h2>Как узнать, что я стал победителем и выиграл приз?</h2>
            <p>Участникам, которые выиграли призы 10 января 2025 г. на номер мобильного телефона, указанный при регистрации на сайте, позвонит сотрудник офиса и сообщит о выигрыше. Список победителей будет опубликован на сайте <a href="https://promo.tdanix.ru/">https://promo.tdanix.ru/</a> 10 января 2025 г.</p>

            <h2>Как я получу свой приз?</h2>
            <p>Призы будут вручаться лично в главном офисе «Аникс», расположенном по адресу: г. Бийск, ул. Социалистическая, дом 5/1. Если победитель из другого населенного пункта, приз будет отправлен в магазин «Аникс» или «Хороший выбор» в населенном пункте победителя. Призы доставляются только в населенные пункты, в которых присутствуют магазины «Аникс» или «Хороший выбор».</p>

            <h2>Важная информация:</h2>
            <h3>1. Порядок проведения розыгрыша и определения получателей Призов:</h3>
            <p>Организатор акции «Змейка удачи» - ООО ТС «Аникс» (далее Организатор).</p>
            <p>Покупка продукции совершается в магазинах: ТС "Аникс" или «Хороший Выбор» на территории Алтайского края, Республики Алтай и Новосибирской области.</p>
            <p>Каждому чеку от 500 рублей присваивается уникальный номер.</p>
            <p>При получении кассового чека, подтверждающего такую Покупку в торговой точке, необходимо зарегистрировать кассовый чек, назвав кассиру номер контактного телефона или самостоятельно, зарегистрировавшись на сайте <a href="https://promo.tdanix.ru/">https://promo.tdanix.ru/</a>.</p>
            <p>Кассовый чек должен содержать номер магазина, город (в котором находится магазин), в котором произведена Покупка, наименования Продукта (-тов) в составе Покупки, дату и время Покупки, номер чека.</p>
            <p>По окончании каждого из еженедельных периодов регистрации Чеков, Организатором создается реестр уникальных чеков, которые были зарегистрированы на сайте.</p>
            <p>Определение еженедельных победителей пройдет:</p>
            <ul>
                <li>25.11.2024</li>
                <li>02.12.2024</li>
                <li>09.12.2024</li>
                <li>16.12.2024</li>
                <li>23.12.2024 в 10:00 (по местному времени).</li>
            </ul>
            <p>Программа-генератор, используя загруженный в нее реестр, случайным образом в дату розыгрыша определяет перечень уникальных номеров Чеков, которые считаются выигрышными, а Участники, загрузившие данные Чеки, в дальнейшем считаются Победителями.</p>
            <p>Оповещение о выигрыше производится путем телефонных звонков сотрудниками Организатора либо отправкой сообщений через сервис WhatsApp по номерам победителей, указанным при регистрации Чека.</p>
            <p>Финальный розыгрыш состоится <strong>10.01.2025 года в 10:00 (по местному времени)</strong> среди всех участников, дошедших до финиша карты.</p>

            <h3>2. Порядок выдачи Призов победителям:</h3>
            <p>Призеры Акции, получившие право на получение Приза Акции, для получения Приза обязаны предоставить Организатору следующую информацию и документы:</p>
            <ul>
                <li>российский паспорт, либо его копию, а именно: основную страницу и страницу с регистрацией по месту жительства;</li>
                <li>адрес фактического проживания Призера, с почтовым индексом;</li>
                <li>номер контактного телефона Призера с кодом города;</li>
                <li>идентификационный номер налогоплательщика (ИНН);</li>
                <li>СНИЛС;</li>
                <li>иную информацию и документы, необходимые для получения приза (сообщаются Организатором дополнительно);</li>
            </ul>
            <p>Заполнить и подписать документ, предоставленный Организатором и подтверждающий получение Приза (далее – «Акт приема-передачи приза») а также дать письменное согласие на обработку персональных данных, сообщенных в ходе Акции, в том числе, для получения Приза. Тексты указанных документов предоставляются Призеру Организатором непосредственно при вручении приза в месте вручения Приза.</p>
            <p>При непредставлении Призером указанных документов, а также в случае отказа Призера от заполнения и/или подписания Акта приема-передачи приза и/или не предоставление согласия на обработку персональных данных, а равно указание неполной/недостоверной информации, и/или в случае не предоставления или несвоевременного предоставления всей информации, необходимой для получения Приза, означает отказ Призера от Приза. Приз в этом случае считается невостребованным и не подлежит передаче Призеру. Организатор вправен использовать такие призы по своему усмотрению.</p>
            <p>По результатам вручения Призов Организатор подает информацию о Призерах в налоговые органы.</p>
            <p>При выдаче Приза Организатор Акции выступает в роли налогового агента и обязуется самостоятельно удержать из суммы Приза налог на доходы физических лиц по ставке 35% с облагаемой налогом суммы Приза для перечисления его в бюджет. В случае получения Победителем в налоговом периоде (календарный год) дополнительного дохода в виде призов от участия в других рекламных мероприятиях от других организаций, Призер несет обязанность по уплате НДФЛ самостоятельно.</p>
            <p>Участники, в случае определения их Победителями, уведомлены об обязанностях уплаты налога на доходы физических лиц со стоимости Приза, превышающей 4 000 рублей, по ставке 35%.</p>
            <p>Вручение Победителям призов совершается в период с <strong>10.01.2025 года по 31.01.2025 года (включительно)</strong>.</p>
            <p>Организатор не несет ответственности за невозможность использования участником Акции Подарка, за дальнейшее использование Подарка после его получения, и за невозможность Участника воспользоваться полученным им Подарком по любым причинам.</p>
            <p class="important">Условиями Акции не предусмотрено хранение невостребованных Призов и возможность их востребования после 23ч. 59м. (по местному времени) 31.01.2025 года.</p>

            <h3>3. Прочие условия:</h3>
            <ul>
                <li>Любые расходы (включая коммуникационные или транспортные расходы), не предусмотренные настоящими Правилами, Участники Акции несут самостоятельно.</li>
                <li>Подарки не обмениваются и не могут быть заменены денежным эквивалентом по требованию Участника.</li>
                <li>Организатор имеет право изменить Правила Акции в любой момент, разместив соответствующую информацию в сети Интернет на Сайте <a href="https://promo.tdanix.ru/">https://promo.tdanix.ru/</a>.</li>
            </ul>
        </div>
    </div>
    <div class="sound-switch">
        <img class="sound-switch-icon" id="soundSwitch" src="../static/images/globalsImages/soundOffIcon.png"/>
    </div>
    <audio id="audio" loop><source src="../static/sounds/sound.mp3" type="audio/mpeg"/></audio>
    <script src="../static/js/soundSwitch.js"></script>
    <script src="../static/js/const.js"></script>
</body>
</html>