<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>Змейка удачи 2025</title>
  <link rel="stylesheet" href="../static/css/prizesPageStyle/prizesMainStyle.css">
    <script>
        window.onload = function () {
            document.getElementById('onload').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="onload-wrapper" id="onload">
        <div class="onload-container" style="">
            <span class="onload-text">Загрузка...</span>
            <svg class="onload-spinner" viewBox="0 0 50 50">
                <circle class="spinner-path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <div class="main-prizes-wrapper">
        <header class="wrapper__header header">
            <div class="header-container">
                <div class="header-inner">
                    <div class="header-inner__logo logo">
                        <a href="/"><img class="logo__image" src="../static/images/globalsImages/anixLogo.png" alt="Лого Аникс" /></a>
                    </div>
                    <nav class="header-inner__navigation navigation" >
                        <ul class="navigation-menu">
                            <li class="navigation-menu__item">
                                <a href="/conditions">Условия</a>
                            </li>
                            <li class="navigation-menu__item">
                                <a href="/gifts">Подарки</a>
                            </li>
                            <li class="navigation-menu__item">
                                <a href="/winners">Победители</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="guide-container">
            <span class="guide-heading">КАК УЧАСТВОВАТЬ В РОЗЫГРЫШЕ</span>
            <div class="guide-steps-container">
                <img class="guide-steps-icon" src="../static/images/prizesPageImages/stepOneIcon.png" />
                <img class="guide-arrow-icon" src="../static/images/prizesPageImages/arrowStepIcon.png" />
                <img class="guide-steps-icon" src="../static/images/prizesPageImages/stepTwoIcon.png" />
                <img class="guide-arrow-icon" src="../static/images/prizesPageImages/arrowStepIcon.png" />
                <img class="guide-steps-icon" src="../static/images/prizesPageImages/stepThreeIcon.png" />
            </div>
            <div class="guide-text-container">
                <span class="guide-text">
                        Совершайте покупки* в “Аникс”
                        на сумму от 500 р. в период
                        с 18.11.2024 г. по 08.01.2025 г.
                </span>
                <span class="guide-text">
                        Регистрируй чеки на кассе
                        или на сайте: promo.tdanix.ru
                        и получите шанс выиграть приз!
                </span>
                <span class="guide-text">
                        10 января 2025 года программа
                        автоматически выберет победителей
                        которые получат главные призы.
                </span>
            </div>
        </div>
        <div class="main-prizes-container">
            <div class="main-prizes-heading-container">
                <div class="main-prizes-snake">
                    <img class="main-prizes-snake-icon" src="../static/images/prizesPageImages/snakeMiniIcon.png">
                </div>
                <div class="main-prizes-text-container">
                    <span class="main-prizes-heading">ГЛАВНЫЕ ПРИЗЫ</span>
                    <span class="main-prizes-text">Дойдите до финиша и получите возможность участвовать в розыгрыше главных призов!</span>
                </div>
            </div>
            <div class="main-prizes-icon-container">
                <div class="icon-wrapper">
                    <img class="main-prizes-tvIcon" src="../static/images/prizesPageImages/tvIcon.png" />
                    <span class="main-prizes-icon-text">LED-телевизор диагональ 65 дюймов</span>
                    <img class="main-prizes-tvIcon-count main-count" src="../static/images/prizesPageImages/mainCountPrize.png">
                </div>
                <div class="icon-wrapper">
                    <img class="main-prizes-playIcon" src="../static/images/prizesPageImages/playstationIcon.png" />
                    <span class="main-prizes-icon-text">Игровая консоль PlayStation 5 Slim</span>
                    <img class="main-prizes-playIcon-count main-count" src="../static/images/prizesPageImages/mainCountPrize.png">
                </div>
                <div class="icon-wrapper">
                    <img class="main-prizes-holodilnikIcon" src="../static/images/prizesPageImages/holodilnikIcon.png" />
                    <span class="main-prizes-icon-text">Холодильник  LG с морозильником</span>
                    <img class="main-prizes-holodilnikIcon-count main-count" src="../static/images/prizesPageImages/mainCountPrize.png">
                </div>
                <div class="icon-wrapper-column">
                    <div class="icon-wrapper">
                        <img class="main-prizes-laptopIcon" src="../static/images/prizesPageImages/laptopImage.png" />
                        <span class="main-prizes-column-icon-text">Ноутбук</span>
                        <img class="main-prizes-laptopIcon-count main-count" src="../static/images/prizesPageImages/mainCountPrize.png">
                    </div>
                    <div class="icon-wrapper">
                        <img class="main-prizes-robotMainIcon" src="../static/images/prizesPageImages/robotMainImage.png" />
                        <span class="main-prizes-column-icon-text">Робот-пылесос</span>
                        <img class="main-prizes-robotMainIcon-count main-count" src="../static/images/prizesPageImages/mainCountPrize.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="week-prizes-container">
            <div class="week-prizes-heading-container">
                <div class="week-prizes-text-container">
                    <span class="week-prizes-heading">ЕЖЕНЕДЕЛЬНЫЕ ПРИЗЫ</span>
                    <span class="week-prizes-text">Регистрируй больше чеков и получите больше шансов на победу каждую неделю!</span>
                </div>
                <div class="week-prizes-snake">
                    <img class="week-prizes-snake-icon" src="../static/images/prizesPageImages/snakeMiniRotate.png">
                </div>
            </div>
            <div class="week-prizes-icon-container">
                <div class="week-grill-prize-container week-icon-container">
                    <img class="week-grill-prize-icon week-icon" src="../static/images/prizesPageImages/grillIcon.png" alt="" />
                    <span class="week-prize-text">Гриль BQ</span>
                    <img class="week-grill-count week-count" src="../static/images/prizesPageImages/weekCountPrize.png">
                </div>
                <div class="week-aerogrill-prize-container week-icon-container">
                    <img class="week-aerogrill-prize-icon week-icon" src="../static/images/prizesPageImages/aerogrillIcon.png" alt="" />
                    <span class="week-prize-text">Аэрогриль</span>
                    <img class="week-aerogrill-count week-count" src="../static/images/prizesPageImages/weekCountPrize.png">
                </div>
                <div class="week-yandex-prize-container week-icon-container">
                    <img class="week-yandex-prize-icon week-icon" src="../static/images/prizesPageImages/yandexStationIcon.png" alt="" />
                    <span class="week-prize-text">Умная колонка Яндекс.Станция Лайт</span>
                    <img class="week-yandex-count week-count" src="../static/images/prizesPageImages/weekCountPrize.png">
                </div>
                <div class="week-robot-prize-container week-icon-container">
                    <img class="week-robot-prize-icon week-icon" src="../static/images/prizesPageImages/robotIcon.png" alt="" />
                    <span class="week-prize-text">Робот-пылесос</span>
                    <img class="week-robot-count week-count" src="../static/images/prizesPageImages/weekCountPrize.png">
                </div>
                <div class="week-biggrill-prize-container week-icon-container">
                    <img class="week-biggrill-prize-icon week-icon" src="../static/images/prizesPageImages/bigGrillIcon.png" alt="" />
                    <span class="week-prize-text">Гриль</span>
                    <img class="week-biggrill-count week-count" src="../static/images/prizesPageImages/weekCountPrize.png">
                </div>
            </div>
        </div>
        <div class="hill-prize-container">
            <div class="hill-prize-snake-container">
                <img class="hill-prize-snake-icon" src="../static/images/prizesPageImages/snakeMiniYellow.png" />
            </div>
            <div class="hill-prize-main-container">
                <span class="hill-prize-head-text">ОТДЫХ В ГОРНОМ АЛТАЕ</span>
                <span class="hill-prize-text">Главный приз для тех кто полностью пройдет 2 этап конкурса!</span>
                <img class="hill-prize-icon" src="../static/images/prizesPageImages/hillsImage.png" />
            </div>

        </div>
        <div class="prizes-per-store-container">
            <div class="prizes-per-store-header">
                <div class="prizes-per-store-text-container">
                    <span class="prizes-per-store-heading">ПРИЗЫ В КАЖДОМ МАГАЗИНЕ</span>
                    <span class="prizes-per-store-text">В финале конкурса разыгрываем игрушку “Стич” в каждом магазине!</span>
                </div>
                <div class="store-elipse-header"></div>
            </div>
            <div class="prizes-per-store-footer">
                <img class="stich-image" src="../static/images/prizesPageImages/stichImage.png" alt="" />
                <div class="store-elipse-footer"></div>
            </div>
        </div>
        <div class="first-finalists-container">
            <div class="first-finalists-header">
                <div class="first-finalists-text-container">
                    <span class="first-finalists-heading">ПЕРВЫЕ 100 ФИНАЛИСТОВ</span>
                    <span class="first-finalists-text">Первые 100 человек дошедшие до финала получат шоперы!</span>
                </div>
                <div class="finalists-elipse-header"></div>
            </div>
            <div class="first-finalists-footer">
                <img class="shoper-image" src="../static/images/prizesPageImages/shoperImage.png" alt="" />
                <div class="finalists-elipse-footer"></div>
            </div>
        </div>
        <div class="prizes-from-suppliers-container">
            <span class="prizes-from-suppliers-heading">ПРИЗЫ ОТ ПАРТНЕРОВ</span>
            <span class="prizes-from-suppliers-text">Покупайте товары наших партнеров, оставляйте отзывы и выигрывайте больше призов!</span>
        </div>
    </div>
    <div class="sound-switch">
        <img class="sound-switch-icon" id="soundSwitch" src="../static/images/globalsImages/soundOffIcon.png"/>
    </div>
    <footer class="footer" id="footer">
        <img class="footer-elka" src="../static/images/globalsImages/treeZeroGif.gif" />
        <img class="footer-gifts" src="../static/images/globalsImages/giftsImage.png" />
    </footer>
    <audio id="audio" loop><source src="../static/sounds/sound.mp3" type="audio/mpeg"/></audio>
    <script src="../static/js/const.js"></script>
    <script src="../static/js/soundSwitch.js"></script>
</body>
</html>