@import "../utils/zero",
"../utils/variables",
"../utils/media",
"../utils/fonts";

@import "../header",
        "mainLogoSuplier",
        "reviews";

@import "../shared/soundSwitch",
        "../shared/onload";

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  color: #fff;
}

.supplier-page-wrapper {
  display: grid;
  grid-template-columns: 1fr calc(100dvw/1.55) 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    ". header ."
    ". mainLogo ."
    ". reviews ."
    ". footer .";
  row-gap: 1.5vw;

  @include mobile {
    justify-content: center;
    grid-template-columns: 95vw;
    grid-template-areas:
    "header"
    "mainLogo"
    "reviews"
    "footer";
    row-gap: 2vw;
  }
}